{% extends "admin/BaseAdmin.html" %}

{% block title %} About {% endblock %}
{% block page_title %} About {% endblock %}

{% block content %}
<div>

<div class="lead">
    <b>{{AJC_EMOJI}}</b> framework builded on top of
    <a target="_blank" "https://www.python.org/">🐍 Python</a> and
    <a target="_blank" href="https://www.starlette.io/">⭐ Starlette</a>
    that lets you build:

    <ul>
        <li>
            Surveys
        </li>
        <li>
            Multiplayer strategy games, like battle of the sex, prisoner's dilemma,
            trust game, stag hunt and auctions.
        </li>
        <li>
            Controlled behavioral experiments in psychology, economics and related fields
        </li>
        <li>
            Quizzes
        </li>
    </ul>
</div>

<hr>

<h3>Citing</h3>

If you are using <b>Ajiaco</b> in your research, we would appreciate citations
to the following paper:

<blockquote>
CITATION
</blockquote>

Bibtex entry:

<pre>
fooo

</pre>


<h3>License</h3>
<p>
    <b>Ajiaco</b> is under The <a target="_blank" href="https://tldrlegal.com/license/bsd-3-clause-license-(revised)">3-Clause BSD License</a>
</p>
<p>
    This license allows unlimited redistribution for any purpose as long as its
    copyright notices and the license's disclaimers of warranty are maintained.
</p>
</div>


{% endblock content %}
